.mediaViewInfo {
	--web-view-name: Canvas;
	--web-view-id: Canvas;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Canvas;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Canvas {
	position: absolute;
	width: 1600px;
	height: 5546px;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
	--web-view-name: Canvas;
	--web-view-id: Canvas;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#topjpg {
	position: absolute;
	width: 1600.16px;
	height: 5546px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
# {
	position: absolute;
	width: 1600px;
	height: 5546px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID01 {
	position: absolute;
	width: 1600px;
	height: 5546px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_1 {
	fill: rgba(255,255,255,1);
}
._1 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 5546px;
	left: 0px;
	top: 0px;
}
#_4 {
	position: absolute;
	width: 1600px;
	height: 900px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4_l {
	fill: rgba(0,79,144,1);
}
._4_l {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 900px;
	left: 0px;
	top: 0px;
}
#Clip {
	position: absolute;
	width: 1600px;
	height: 900px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_834_o {
	opacity: 0.2;
	fill: url(#_834_o);
}
._834_o {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 900px;
	left: 0px;
	top: 0px;
}
#_p {
	position: absolute;
	width: 1128.566px;
	height: 338.683px;
	left: 235.717px;
	top: 280.659px;
	overflow: visible;
}
#_q {
	position: absolute;
	width: 944px;
	height: 278px;
	left: 103.283px;
	top: 39.341px;
	display: none;
	overflow: visible;
}
#_r {
	position: absolute;
	width: 944px;
	height: 278px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18 {
	position: absolute;
	width: 944px;
	height: 278px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay {
	fill: rgba(255,255,255,1);
}
.Color_Overlay {
	overflow: visible;
	position: absolute;
	width: 944px;
	height: 277.999px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_u {
	position: absolute;
	width: 987px;
	height: 269px;
	left: 70.283px;
	top: 40.341px;
	display: none;
	overflow: visible;
}
#_v {
	position: absolute;
	width: 987px;
	height: 269px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18_w {
	position: absolute;
	width: 987px;
	height: 269px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_x {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_x {
	overflow: visible;
	position: absolute;
	width: 987px;
	height: 269px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_ {
	position: absolute;
	width: 1056.004px;
	height: 663.653px;
	left: 63.773px;
	top: -120.437px;
	display: none;
	overflow: visible;
}
#__z {
	transform: translate(-299.489px, -160.222px) matrix(1,0,0,1,321.7869,200.9629) rotate(-4.734deg);
	transform-origin: center;
	position: absolute;
	width: 1011.409px;
	height: 582.17px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18_ {
	position: absolute;
	width: 1056.004px;
	height: 663.653px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ {
	overflow: visible;
	position: absolute;
	width: 1056.004px;
	height: 663.653px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_ba {
	position: absolute;
	width: 1028px;
	height: 333px;
	left: 50.283px;
	top: 2.341px;
	display: none;
	overflow: visible;
}
#_bb {
	position: absolute;
	width: 1028px;
	height: 333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20 {
	position: absolute;
	width: 1028px;
	height: 333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ba {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ba {
	overflow: visible;
	position: absolute;
	width: 1028px;
	height: 333px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_bc {
	position: absolute;
	width: 1128.566px;
	height: 338.683px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_bd {
	transform: translate(-235.717px, -280.659px) matrix(1,0,0,1,241.1111,302.6676) rotate(-2.269deg);
	transform-origin: center;
	position: absolute;
	width: 1117.778px;
	height: 294.665px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18_ba {
	position: absolute;
	width: 1128.566px;
	height: 338.682px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_bb {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_bb {
	overflow: visible;
	position: absolute;
	width: 1128.566px;
	height: 338.683px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__ba {
	position: absolute;
	width: 1079.053px;
	height: 335.178px;
	left: 24.757px;
	top: -0.248px;
	display: none;
	overflow: visible;
}
#__bb {
	transform: translate(-260.474px, -280.411px) matrix(1,0,0,1,265.7706,301.0128) rotate(-2.222deg);
	transform-origin: center;
	position: absolute;
	width: 1068.459px;
	height: 293.974px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_515 {
	position: absolute;
	width: 1079.053px;
	height: 335.178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_bd {
	fill: rgba(0,0,0,1);
}
.Color_Overlay_bd {
	overflow: visible;
	position: absolute;
	width: 1079.053px;
	height: 335.178px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_3 {
	position: absolute;
	width: 1003.558px;
	height: 507.135px;
	left: 49.504px;
	top: -107.226px;
	display: none;
	overflow: visible;
}
#_3_bf {
	transform: translate(-285.221px, -173.433px) matrix(1,0,0,1,294.36,193.3769) rotate(-2.343deg);
	transform-origin: center;
	position: absolute;
	width: 985.28px;
	height: 467.246px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_515_bj {
	position: absolute;
	width: 1003.558px;
	height: 507.135px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_bh {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_bh {
	overflow: visible;
	position: absolute;
	width: 1003.558px;
	height: 507.135px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_bi {
	transform: translate(-235.717px, -280.659px) matrix(1,0,0,1,294.36,193.3769) rotate(-2.343deg);
	transform-origin: center;
	position: absolute;
	width: 985.28px;
	height: 467.246px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#_515_bj {
	position: absolute;
	width: 1003.558px;
	height: 507.135px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#scroll {
	position: absolute;
	width: 90px;
	height: 171px;
	left: 755px;
	top: 785px;
	overflow: visible;
}
#_547 {
	fill: rgba(236,151,0,1);
}
._547 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#SCROLL_bm {
	left: 23.6px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: center;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#_2 {
	fill: rgba(236,151,0,1);
}
._2 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 39px;
	top: 36px;
}
#_2_bo {
	fill: transparent;
	stroke: rgba(236,151,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 4 4;
	stroke-dashoffset: 0;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._2_bo {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 126px;
	left: 45px;
	top: 45px;
	transform: matrix(1,0,0,1,0,0);
}
#pagenation {
	position: absolute;
	width: 170px;
	height: 6px;
	left: 1369px;
	top: 834px;
	overflow: visible;
}
#_35 {
	opacity: 0.502;
	fill: rgba(255,255,255,1);
}
._35 {
	overflow: visible;
	position: absolute;
	width: 170px;
	height: 5.999px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_35_br {
	fill: rgba(255,255,255,1);
}
._35_br {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 6px;
	left: 120px;
	top: 0px;
}
#_bs {
	position: absolute;
	width: 942.182px;
	height: 917.702px;
	left: 622px;
	top: 1004.298px;
	overflow: visible;
}
#_bt {
	position: absolute;
	width: 850px;
	height: 672px;
	left: 77px;
	top: 245.702px;
	overflow: visible;
}
#_3_bu {
	opacity: 0.2;
	position: absolute;
	width: 850px;
	height: 672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_50 {
	position: absolute;
	width: 539px;
	height: 210.001px;
	left: 66px;
	top: 320px;
	overflow: visible;
}
#_50_bw {
	position: absolute;
	width: 539px;
	height: 210px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#iconmonstr-location-1-240 {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 433px;
	top: 107px;
	overflow: visible;
}
#iconmonstr-location-1-240_by {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 509px;
	top: 0px;
	overflow: visible;
}
#iconmonstr-location-1-240_bz {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 438px;
	top: 165px;
	overflow: visible;
}
#iconmonstr-location-1-240_b {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 427px;
	top: 132px;
	overflow: visible;
}
#iconmonstr-location-1-240_ca {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 394px;
	top: 152px;
	overflow: visible;
}
#iconmonstr-location-1-240_cb {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 225px;
	top: 137px;
	overflow: visible;
}
#iconmonstr-location-1-240_cc {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 196px;
	top: 117px;
	overflow: visible;
}
#iconmonstr-location-1-240_cd {
	position: absolute;
	width: 30px;
	height: 44px;
	left: 0px;
	top: 166px;
	overflow: visible;
}
#Color_Overlay_b {
	fill: rgba(32,101,197,1);
}
.Color_Overlay_b {
	overflow: visible;
	position: absolute;
	width: 539px;
	height: 210.001px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_b {
	position: absolute;
	width: 942.182px;
	height: 850px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_841 {
	fill: rgba(236,151,0,1);
}
._841 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 310px;
	left: 589px;
	top: 34.702px;
}
#_841_ {
	fill: rgba(236,151,0,1);
}
._841_ {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 395px;
	left: 56px;
	top: 59.702px;
}
#_841__2 {
	fill: rgba(236,151,0,1);
}
._841__2 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 318px;
	left: 0px;
	top: 59.702px;
}
#_ca {
	left: 606.182px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 337px;
	white-space: nowrap;
	line-height: 44.79999923706055px;
	margin-top: -8.399999618530273px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(51,51,51,1);
	letter-spacing: 1px;
}
#______________ {
	left: 517.182px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 404px;
	white-space: nowrap;
	line-height: 56px;
	margin-top: -20px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 1px;
}
#nav {
	position: absolute;
	width: 1600px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_834_cd {
	opacity: 0.2;
	fill: rgba(243,249,247,1);
}
._834_cd {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#_ce {
	position: absolute;
	width: 106px;
	height: 24px;
	left: 343.81px;
	top: 46.416px;
	overflow: visible;
}
#RECRUIT_SITE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#_cg {
	position: absolute;
	width: 629.907px;
	height: 40px;
	left: 890.093px;
	top: 30px;
	overflow: visible;
}
#MENU {
	left: 0px;
	top: 8.416px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_ci {
	left: 122.28px;
	top: 8.416px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_cj {
	left: 244.348px;
	top: 8.416px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_ck {
	left: 366.399px;
	top: 8.416px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#_835 {
	fill: rgba(236,151,0,1);
}
._835 {
	position: absolute;
	overflow: visible;
	width: 140.06px;
	height: 40px;
	left: 489.847px;
	top: 0px;
}
#_cm {
	left: 529.481px;
	top: 11.416px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#ID01_cn {
	position: absolute;
	width: 1520.16px;
	height: 903.057px;
	left: 80px;
	top: 1927.612px;
	overflow: visible;
}
#ID70_16001120px {
	fill: rgba(236,151,0,1);
}
.ID70_16001120px {
	position: absolute;
	overflow: visible;
	width: 1120px;
	height: 560px;
	left: 400.16px;
	top: 120.388px;
}
#ID01_cp {
	position: absolute;
	width: 703.02px;
	height: 520.669px;
	left: 0px;
	top: 302.388px;
	overflow: visible;
}
#_839 {
	position: absolute;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_cr {
	fill: rgba(51,51,51,1);
}
._839_cr {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
}
#Clip_cs {
	position: absolute;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840 {
	fill: rgba(255,255,255,1);
}
._840 {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 80px;
	left: 0px;
	top: 400px;
}
#_cu {
	left: 29.385px;
	top: 429.435px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_545 {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545 {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 319.017px;
	top: 429.991px;
	transform: matrix(1,0,0,1,0,0);
}
#-_ {
	left: 414.02px;
	top: 499.669px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID02 {
	position: absolute;
	width: 701.021px;
	height: 520.669px;
	left: 740px;
	top: 382.388px;
	overflow: visible;
}
#_839_cy {
	position: absolute;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_cz {
	fill: rgba(51,51,51,1);
}
._839_cz {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
}
#Clip_c {
	position: absolute;
	width: 700px;
	height: 480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_c {
	fill: rgba(51,51,51,1);
}
._840_c {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 80px;
	left: 0px;
	top: 400px;
}
#_545_c {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_c {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 257.016px;
	top: 429.991px;
	transform: matrix(1,0,0,1,0,0);
}
#_c {
	left: 32.385px;
	top: 426.435px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#-__c {
	left: 493.021px;
	top: 499.669px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#MORE {
	left: 324.409px;
	top: 224.502px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#SPECIAL_CONTENTS_- {
	left: 159.832px;
	top: 5.775px;
	position: absolute;
	overflow: visible;
	width: 967px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 119.73664093017578px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_521 {
	position: absolute;
	width: 538px;
	height: 70px;
	left: 732px;
	top: 191.388px;
	overflow: visible;
}
#_521_c {
	position: absolute;
	width: 538px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_521_da {
	position: absolute;
	width: 538px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_da {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_da {
	overflow: visible;
	position: absolute;
	width: 538px;
	height: 70px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#__db {
	left: 159.651px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 377.517px;
	height: 39.33330154418945px;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#ID02_dc {
	position: absolute;
	width: 1519.84px;
	height: 2418.34px;
	left: 0.16px;
	top: 2920.568px;
	overflow: visible;
}
#ID80_16001280px {
	fill: rgba(32,101,197,1);
}
.ID80_16001280px {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 400px;
	left: 0px;
	top: 118.302px;
}
#ID01_de {
	position: absolute;
	width: 453.7px;
	height: 361.328px;
	left: 79.84px;
	top: 296.432px;
	overflow: visible;
}
#_839_df {
	fill: rgba(239,239,239,1);
}
._839_df {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 320px;
	left: 0px;
	top: 0px;
}
#_840_dg {
	fill: rgba(255,255,255,1);
}
._840_dg {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 60px;
	left: 0px;
	top: 260px;
}
#_545_dh {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_dh {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 213.016px;
	top: 279.991px;
	transform: matrix(1,0,0,1,0,0);
}
#_di {
	left: 50.385px;
	top: 277.657px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#-__dj {
	left: 376.7px;
	top: 340.328px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID02_dk {
	position: absolute;
	width: 454.381px;
	height: 359.217px;
	left: 573.84px;
	top: 336.432px;
	overflow: visible;
}
#_839_dl {
	position: absolute;
	width: 453px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_dm {
	fill: rgba(98,98,98,1);
}
._839_dm {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 320px;
	left: 0px;
	top: 0px;
}
#Clip_dn {
	position: absolute;
	width: 453px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_do {
	fill: rgba(255,255,255,1);
}
._840_do {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 60px;
	left: 0px;
	top: 260px;
}
#_545_dp {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_dp {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 217.016px;
	top: 279.991px;
	transform: matrix(1,0,0,1,0,0);
}
#_dq {
	left: 70.385px;
	top: 277.657px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#-__dr {
	left: 377.381px;
	top: 338.217px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID03 {
	position: absolute;
	width: 453px;
	height: 320px;
	left: 1066.84px;
	top: 376.432px;
	overflow: visible;
}
#_839_dt {
	fill: rgba(239,239,239,1);
}
._839_dt {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 320px;
	left: 0px;
	top: 0px;
}
#_840_du {
	fill: rgba(255,255,255,1);
}
._840_du {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 60px;
	left: 0px;
	top: 260px;
}
#_545_dv {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_dv {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.842px;
	left: 258.016px;
	top: 279.992px;
	transform: matrix(1,0,0,1,0,0);
}
#_dw {
	left: 90.385px;
	top: 277.657px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_520 {
	position: absolute;
	width: 684px;
	height: 69px;
	left: 239.84px;
	top: 186.432px;
	overflow: visible;
}
#_520_dy {
	position: absolute;
	width: 684px;
	height: 69px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_520_dz {
	position: absolute;
	width: 684px;
	height: 69px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_d {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_d {
	overflow: visible;
	position: absolute;
	width: 684px;
	height: 69px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#COMPANY_- {
	left: 855.455px;
	top: 2.988px;
	position: absolute;
	overflow: visible;
	width: 508px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 120.00000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#_d {
	left: 983.491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 377.517px;
	height: 39.33330154418945px;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#LOGO {
	left: 1120.071px;
	top: 2365.34px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 57.60000228881836px;
	margin-top: -10.80000114440918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_d {
	left: 1363.071px;
	top: 2365.34px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 57.60000228881836px;
	margin-top: -10.80000114440918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#ID03_d {
	position: absolute;
	width: 1520px;
	height: 687.388px;
	left: 80px;
	top: 3716.612px;
	overflow: visible;
}
#ID70_16001120px_d {
	fill: rgba(236,151,0,1);
}
.ID70_16001120px_d {
	position: absolute;
	overflow: visible;
	width: 1120px;
	height: 400px;
	left: 400px;
	top: 114.388px;
}
#ID01_d {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 307.388px;
	overflow: visible;
}
#_839_d {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_ea {
	fill: rgba(51,51,51,1);
}
._839_ea {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
}
#Clip_ea {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_eb {
	fill: rgba(255,255,255,1);
}
._840_eb {
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 80px;
	left: 0px;
	top: 240px;
}
#_ec {
	left: 29.385px;
	top: 267.435px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_545_ed {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_ed {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.842px;
	left: 279.016px;
	top: 269.992px;
	transform: matrix(1,0,0,1,0,0);
}
#ID02_ee {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 740px;
	top: 367.388px;
	overflow: visible;
}
#_839_ef {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_eg {
	fill: rgba(51,51,51,1);
}
._839_eg {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
}
#Clip_eh {
	position: absolute;
	width: 700px;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_ei {
	fill: rgba(255,255,255,1);
}
._840_ei {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 80px;
	left: 0px;
	top: 240px;
}
#_545_ej {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_ej {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 234.572px;
	top: 269.991px;
	transform: matrix(1,0,0,1,0,0);
}
#_ek {
	left: 29.385px;
	top: 267.435px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#WORK_- {
	left: 159.832px;
	top: 5.775px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 119.73664093017578px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_557 {
	position: absolute;
	width: 623px;
	height: 74px;
	left: 657px;
	top: 188.388px;
	overflow: visible;
}
#_557_en {
	position: absolute;
	width: 623px;
	height: 74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_557_eo {
	position: absolute;
	width: 623px;
	height: 74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ep {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ep {
	overflow: visible;
	position: absolute;
	width: 623px;
	height: 74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_eq {
	left: 159.651px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 377.517px;
	height: 39.33330154418945px;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#ID04 {
	position: absolute;
	width: 1600px;
	height: 534.388px;
	left: 0px;
	top: 4482.612px;
	overflow: visible;
}
#ID80_16001280px_es {
	position: absolute;
	width: 1600px;
	height: 420px;
	left: 0px;
	top: 114.388px;
	overflow: visible;
}
#ID80_16001280px_et {
	fill: rgba(34,138,229,1);
}
.ID80_16001280px_et {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 420px;
	left: 0px;
	top: 0px;
}
#Clip_eu {
	position: absolute;
	width: 1600px;
	height: 420px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RECRUIT_- {
	left: 239.832px;
	top: 5.775px;
	position: absolute;
	overflow: visible;
	width: 439px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 119.73664093017578px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_643 {
	position: absolute;
	width: 605.855px;
	height: 55.554px;
	left: 755.145px;
	top: 195.388px;
	overflow: visible;
}
#_643_ex {
	position: absolute;
	width: 605.855px;
	height: 55.554px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_643_ey {
	position: absolute;
	width: 605.855px;
	height: 55.554px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ez {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ez {
	overflow: visible;
	position: absolute;
	width: 605.855px;
	height: 55.554px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_54 {
	position: absolute;
	width: 550px;
	height: 100px;
	left: 240px;
	top: 309.388px;
	overflow: visible;
}
#_840_e {
	fill: rgba(255,255,255,1);
}
._840_e {
	position: absolute;
	overflow: visible;
	width: 550px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#_545_e {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_e {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 510.016px;
	top: 39.991px;
	transform: matrix(1,0,0,1,0,0);
}
#_e {
	left: 83.385px;
	top: 37.657px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_636 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 33px;
	top: 35px;
	overflow: visible;
}
#_54_e {
	position: absolute;
	width: 550px;
	height: 100px;
	left: 810px;
	top: 309.388px;
	overflow: visible;
}
#_840_fa {
	fill: rgba(255,255,255,1);
}
._840_fa {
	position: absolute;
	overflow: visible;
	width: 550px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#_545_fa {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_fa {
	overflow: visible;
	position: absolute;
	width: 14.233px;
	height: 22.843px;
	left: 510.016px;
	top: 39.991px;
	transform: matrix(1,0,0,1,0,0);
}
#FAQ {
	left: 83.385px;
	top: 37.657px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_582 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 33px;
	top: 35px;
	overflow: visible;
}
#_fa {
	left: 239.651px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 377.517px;
	height: 39.33330154418945px;
	line-height: 25.600000381469727px;
	margin-top: -4.800000190734863px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#footer {
	position: absolute;
	width: 1600px;
	height: 2240.092px;
	left: 0px;
	top: 3305.908px;
	overflow: visible;
}
#_558 {
	fill: rgba(32,101,197,1);
}
._558 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 270px;
	left: 0px;
	top: 1890.092px;
}
#_55 {
	position: absolute;
	width: 1440.118px;
	height: 115px;
	left: 78.882px;
	top: 1964.987px;
	overflow: visible;
}
#_51 {
	position: absolute;
	width: 77px;
	height: 88px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MENU_ff {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560 {
	fill: rgba(255,255,255,1);
}
._560 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 49.105px;
}
#_fh {
	left: 20px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fi {
	fill: rgba(255,255,255,1);
}
._560_fi {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 77.105px;
}
#_fj {
	left: 20px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_fk {
	position: absolute;
	width: 77px;
	height: 115px;
	left: 243px;
	top: 0px;
	overflow: visible;
}
#MENU_fl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fm {
	fill: rgba(255,255,255,1);
}
._560_fm {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 49.105px;
}
#_fn {
	left: 20px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fo {
	fill: rgba(255,255,255,1);
}
._560_fo {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 77.105px;
}
#_fp {
	left: 20px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fq {
	fill: rgba(255,255,255,1);
}
._560_fq {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 104.105px;
}
#_fr {
	left: 20px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_fs {
	position: absolute;
	width: 77px;
	height: 88px;
	left: 486px;
	top: 0px;
	overflow: visible;
}
#MENU_ft {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fu {
	fill: rgba(255,255,255,1);
}
._560_fu {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 49.105px;
}
#_fv {
	left: 20px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fw {
	fill: rgba(255,255,255,1);
}
._560_fw {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 77.105px;
}
#_fx {
	left: 20px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_fy {
	position: absolute;
	width: 77px;
	height: 88px;
	left: 730px;
	top: 0px;
	overflow: visible;
}
#MENU_fz {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_f {
	fill: rgba(255,255,255,1);
}
._560_f {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 49.105px;
}
#_f {
	left: 20px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_ga {
	fill: rgba(255,255,255,1);
}
._560_ga {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 2px;
	left: 2.118px;
	top: 77.105px;
}
#_ga {
	left: 20px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_f {
	position: absolute;
	width: 342.036px;
	height: 106.342px;
	left: 974.118px;
	top: 4.105px;
	overflow: visible;
}
#_564 {
	fill: rgba(255,255,255,1);
}
._564 {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#_gb {
	left: 242.036px;
	top: 88.342px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_ga {
	position: absolute;
	width: 466.964px;
	height: 106.342px;
	left: 973.154px;
	top: 4.105px;
	overflow: visible;
}
#_564_f {
	fill: rgba(255,255,255,1);
}
._564_f {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 80px;
	left: 243.964px;
	top: 0px;
}
#_gc {
	left: 0px;
	top: 88.342px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 22.399999618530273px;
	margin-top: -4.199999809265137px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#copyright {
	position: absolute;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 2160.092px;
	overflow: visible;
}
#_577 {
	fill: rgba(31,91,173,1);
}
._577 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#ID0000_SAMPLE_Inc_All_Rights_R {
	left: 677.451px;
	top: 32.175px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: center;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#gotop {
	position: absolute;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 1810.092px;
	overflow: visible;
}
#_584 {
	fill: rgba(255,255,255,1);
}
._584 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#_582_gf {
	fill: rgba(32,101,197,1);
}
._582_gf {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 30px;
	left: 799px;
	top: 50px;
}
#GO_TOP {
	left: 779.6px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: center;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(32,101,197,1);
	letter-spacing: 1px;
}
#LOGO_gh {
	left: 188.231px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	line-height: 153.60000610351562px;
	margin-top: -28.800003051757812px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_gi {
	left: 1175.231px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	line-height: 153.60000610351562px;
	margin-top: -28.800003051757812px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_gj {
	left: 237.231px;
	top: 22.908px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 57.60000228881836px;
	margin-top: -10.80000114440918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}